@{
    ViewBag.Title = "Confirm that you have forgotten your password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Confirm your email address to reset your password.
    </p>
</div>
	
