@using GameGroupManager.Models
@using GameGroupManager.Services
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
	    <li>
		    @{
				//Context.GetOwinContext().Authentication.
				//var service = new GgmService(Context.GetOwinContext().Get<ApplicationDbContext>());//new GgmService(HttpContext.GetOwinContext().Get<ApplicationDbContext>());
				//ViewBag.UserName = service.GetGgmUserName(User.Identity.GetUserName());
				string userName = string.IsNullOrEmpty(ViewBag.UserName) ? User.Identity.GetUserName() : ViewBag.UserName;
		    }
		    @Html.ActionLink("Hello " + userName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
	    </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
